@media (min-width: 320px) {
    header {
      display: flex;
      flex-direction: column;
      background-color: #333;
      color: white;
    }
  
    /* Top row: image and name */
    header > .profile-img,
    header > #profileName {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }

    .profile-img {
        width: 110px;
        height: 110px;
    }
  
    #profileName {
      font-size: 1.5rem;
      padding-left: 20px;
    }
  
    /* Make a row for the top (image + name) */
    header > .top-bar {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
    }
  
    /* Navigation menu visible and horizontal */
    nav {
      display: block;
      width: 95vw;
 
    }
  
    nav ul.menu {
      display: flex !important;
      flex-direction: row;
      justify-content: space-around;
      list-style: none;
      padding-left: 10px;
      padding-right: 10px;
      background-color: #444;
    }

    nav ul.menu li {
        padding: 5px;
    }
  
    nav ul.menu li a {
      color: white;
      text-decoration: none;
    }
  
    nav ul.menu li a:hover {
      color: #00BFFF;
    }


  
    .menu-icon,
    #menu-toggle {
      display: none;
    }

    h2 {
        background-color: #4e9f56;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 5px;
        text-align: center;
        font-size: 1.2rem;
      }

  .CardConteiner {
    flex: 0 0 65%;

  }

  .sanjuan {
    flex: 0 0 35%;
    background-color: #f2f2f2;
    border-left: 1px solid #ccc;
    margin-top: 0;
  }

  .home {
    display: flex;
    justify-content: space-between;
  }

  .sanjuan-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }

  .course-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);                       
    justify-items: center;                
    align-items: center;                  
    margin: 0 auto;                       
    padding: 1rem;
    gap: .5rem;
  }

  .certificate{
    /* width: 100vw;            */
    margin-left: calc(-45vw + 45%); 
    text-align: center;     
    background-color: #4e9f56;
    padding: 1rem;
    box-sizing: border-box;
    margin-top: 1rem;
  }

  main {
    margin: 0;
  }
  
  }
  