

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  /* Header */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 1rem;
  }

  #profileName {
    font-size: 1.2rem;
  }

  .profile-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
  
  /* Navigation */
  nav ul {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    list-style: none;
    padding: 0.5rem 0;
    background-color: #444;
  }
  
  nav ul li {
    color: white;
    cursor: pointer;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
  }

  nav ul li a:hover {
    color: #00BFFF;
  }

  .menu-icon {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    padding: 0.5rem 1rem;
    text-align: right;
  }
  
  #menu-toggle {
    display: none;
  }
  
  nav ul.menu {
    display: none;
    flex-direction: column;
    text-align: center;
    background-color: #444;
  }
  
  #menu-toggle:checked + .menu-icon + ul.menu {
    display: flex;
  }
  


  /* Main */
  main {
    margin: 10px;
  }
  h1 {
    font-size: 1.7rem;
    margin-left: 5px;
  }
  h2 {
    background-color: #8e9f0b;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
    font-size: 1.2rem;
  }

  .home {
    margin: 0 auto;
  }

  .CardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: space-between;
  }

  .sanjuan {
    margin-top:10px;
  }

  .sanjuan-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  figure {
    text-align: center;
  }

  figcaption {
    font-weight: bold;
    font-size: .8rem;
  }

  .certificate{
    display: flex;
    flex-direction: column; 
    align-items: center;     
    justify-content: center;   
    text-align: center;     
  }

  .infoContainer {
    margin: 10px;
  }

  .course-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.course-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    width: 100%;
    background-color: #f9f9f9;
}

.course-card.completed {
    border-color: #2e7d32;
    background-color:rgb(144, 147, 232);
}

.filter-buttons {
    margin-bottom: 1rem;
}

.filter-buttons button {
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

  
  /* Footer */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  

